<div id="mySidenav" class="sidenav">
  <h1 style="text-align: center; color: #ebb529; font-weight: bolder;">Q_Quit</h1>
  <hr>
  <ul class="primary-nav-links">
    <li>
      <a class="primary" routerLink="/dashboard" routerLinkActive="active">
        <i class="material-icons navigation-icon">dashboard</i>
        Dashboard
      </a>
    </li>
    <li>
      <a class="primary" routerLinkActive="active" routerLink="/separationApplication">
        <i class="material-icons navigation-icon">receipt</i>
        Separation Applications
      </a>
    </li>
    <li *appHasAnyAuthority="['ROLE_ADMIN']">
      <a class="primary">
        <i class="material-icons navigation-icon">settings</i>
        Admin
      </a>
      <ul class="secondary-nav-links">
        <li>
          <a class="secondary" routerLinkActive="active" routerLink="/employee">
            Employees
          </a>
        </li>
        <li>
          <a class="secondary" routerLinkActive="active" routerLink="/location">
            Location
          </a>
        </li>
        <li>
          <a class="secondary" routerLinkActive="active" routerLink="/department">
            Departments
          </a>
        </li>
      </ul>
    </li>
  </ul>
</div>
