<h1>Location list</h1>
<div *ngFor="let location of locations">
  {{location.address}} {{location.city}} {{location.state}} {{location.country}}
  <a [routerLink]="[location.id, 'view']">edit</a>
</div>
<a routerLink="new"><mat-icon class="buttonAnchor">add</mat-icon></a>


<div class="actionBar">
  <h1>Location Records
    <a class="addRecordButton" mat-mini-fab [routerLink]="['./create']">
      <mat-icon>add</mat-icon>
    </a>
  </h1>
</div>
<div>
  <div *ngFor="let location of locations">
    <mat-card>
      <mat-card-title>
        <a class="editButton" mat-mini-fab><mat-icon>edit</mat-icon></a>
      </mat-card-title>
      <mat-card-content>
        <p>
          <span>{{location.address}}</span>
        </p>
        <p>
          <span>{{location.city}}</span> ,
          <span>{{location.state}}</span>
        </p>
        <p>
          <span>{{location.country}}</span>
        </p>
      </mat-card-content>
    </mat-card>
    <br/>
  </div>
</div>
