<div class="actionBar">
  <h1>Employee Records
    <a class="addRecordButton" mat-mini-fab [routerLink]="['./create']">
      <mat-icon>add</mat-icon>
    </a>
  </h1>
</div>
<div>
  <div *ngFor="let emp of employees">
    <mat-card>
      <mat-card-title>{{emp.user?.firstName}} {{emp.user?.lastName}}
        <a class="editButton" mat-mini-fab [routerLink]="['/employee', emp.id, 'edit']"><mat-icon>edit</mat-icon></a>
      </mat-card-title>
      <mat-card-content class="flexContainer">
        <div>
          <p>
            <span>Department: </span> {{emp.department?.name? emp.department.name: 'Not set'}}
          </p>
          <p>
            <span>Location: </span> {{emp.location?.city? emp.location?.city : 'Not set' }}
          </p>
        </div>
        <p>
          <span>Email: </span> <span>{{emp.user.email ? emp.user.email : 'Not set'}}</span>
        </p>
      </mat-card-content>
    </mat-card>
    <br/>
  </div>
</div>
